.file-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-upload input[type='file'] {
    margin-bottom: .5rem;
}

.file-info p {
    font-size: 1rem;
}